<!DOCTYPE html>
<html translate="no" data-dpr="1" style="font-size: 37.52px;">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="robots" content="noindex,nofollow">
  <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
  <title>BigMumbai</title>
  <!--<script src="/js/block.js"></script>-->
  <link rel="shortcut icon" href="/images/bitbug_favicon.ico" type="image/x-icon">
  <link href="css/app.21328c5b.css" rel="stylesheet">
  <link rel="stylesheet" href="/k3/css/chunk-9ca7d0dc.0f968705.css">
  <link rel="stylesheet" href="/k3/css/chunk-f7aaa136.30c67545.css">
  <link rel="stylesheet" href="/k3/css/chunk-vendors.b521b44f.css">
  <style>
    html,
    body {
      height: 100%;
      width: 100%;
      background-color: #090909;
      padding: 0;
      margin: 0;
    }

    .block-click {
      pointer-events: none;
    }

    .d-none {
      display: none !important;
    }
    .Wallet__C[data-v-a3fd9a0b]:before {
    content: "";
    display: block;
    width: 100%;
    height: 7.66667rem;
    background: linear-gradient(90deg, #D9AD82 0%, #B1835A 100%), #FFF !important;
    border-radius: 0 0 1.53333rem 1.53333rem;
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
}
.Wallet__C[data-v-a3fd9a0b] {
    position: relative;
    padding: .48rem .34667rem 0;
    position: relative;
}
.game-head[data-v-03b808c2] {
    padding: 0rem 0rem 1.86667rem;
}
.Wallet__C-balance[data-v-a3fd9a0b] {
    min-height: 3.57333rem;
    background: #ffffff !important;
    border-radius: .26667rem;
    padding: .46667rem;
    position: relative;
    z-index: 0;
    background-image: url(/assets/png/walletbg-1dc79077.png), -webkit-linear-gradient(297deg, #F6F6F6 5.33%, #4675D2 93.42%);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 20px;
}
.Wallet__C-balance-l3>div[data-v-a3fd9a0b] {
    width: 3.46667rem;
    height: .93333rem;
    line-height: .93333rem;
    background: #FB5B5B !important;
    border-radius: 50px !important;
    font-weight: 600;
    font-size: .4rem;
    color: #fff;
    text-align: center;
}
.Wallet__C-balance-l3>div+div[data-v-a3fd9a0b] {
    background: #18B660 !important;
    border: .01333rem solid #18B660;
    border-radius: 50px !important;
}
.Wallet__C-balance-l2>div[data-v-a3fd9a0b] {
    padding-left: .66667rem;
    background-image: url(https://mumbaibig.com/assets/png/wallet-3f0340b6.png) !important;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: .53333rem;
    color: #1E2637;
}
.van-notice-bar {
    margin: 0rem !important;
    width: calc(100% - .69333rem) !important;
}
.Wallet__C-balance-l1[data-v-a3fd9a0b] {
    min-height: .58667rem;
    line-height: .58667rem;
    text-align: left;
    font-weight: 700;
    font-size: .48rem;
    color: #fff;
    overflow: hidden;
    display: grid;
    align-items: center;
    justify-items: center;
}
.game-betting .tab .box .item.c-tc.action {
    background: -webkit-linear-gradient(297deg, #F6F6F6 5.33%, #4675D2 93.42%) !important;
    background: linear-gradient(180deg, #D9AD82 0%, #B1835A 100%) !important;
    
    border-radius: .26667rem;
}
.Wallet__C[data-v-a3fd9a0b] {
    position: relative;
    padding: 20px;
    position: relative;
    margin-top: -15px;
}
.game-betting .tab .box .item .txt[data-v-03b808c2] {
    color: #768096 !important;
    font-size: .29rem !important;
}
img.k3img{
 
    width: 1.17333rem;
    height: 1.17333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin: 0 auto;

}.tit {
    COLOR: #1E2637 ! IMPORTANT;
}
  </style>
</head>

<body style="font-size: 12px;">
  <div id="app">
    <div data-v-03b808c2="" class="mian game">
      <div data-v-106b99c8="" data-v-03b808c2="" class="navbar">
        <div data-v-106b99c8="" class="navbar-left" onclick="location.href='/home'">
          <div data-v-03b808c2="" data-v-106b99c8="" class="c-row c-row-middle-center"><img data-v-03b808c2=""
              data-v-106b99c8="" src="/images/back.c3244ab0.png" class="navbar-back"></div>
        </div>
        <div data-v-106b99c8="" class="navbar-title">
          <div data-v-03b808c2="" data-v-106b99c8="" class="c-row c-row-middle-center">
            <img data-v-03b808c2="" data-v-106b99c8="" src="/index_files/h5setting_202401100608011fs2.png" class="logo"
              style="width: 2.98667rem;height: 1.12rem;background-repeat: no-repeat;background-size: 2.98667rem 1.12rem;background-position: center;">
          </div>
        </div>
        <div data-v-106b99c8="" class="navbar-right">
          <div data-v-03b808c2="" data-v-106b99c8="" class="c-row navbarR">
            <div data-v-03b808c2="" data-v-106b99c8="" class="c-row item c-row-middle-center"
              onclick="location.href='/keFuMenu'">
              <img data-v-03b808c2="" data-v-106b99c8="" src="/images/audio.webp" class="item-audio">
            </div>
            <div data-v-03b808c2="" data-v-106b99c8="" class="c-row item c-row-middle-center">
              <img data-v-03b808c2="" data-v-106b99c8="" src="/images/volume-up-line.webp" class="item-volume">
            </div>
          </div>
        </div>
      </div>
      <%- include('element/gameHead.ejs') -%>
        <%- include('element/betting.ejs') -%>
          <%- include('element/listOrder.ejs') -%>
            <%- include('element/popupJoin.ejs') -%>
              <%- include('element/quytac.ejs') -%>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://cdn.socket.io/4.4.1/socket.io.min.js"
    integrity="sha384-fKnu0iswBIqkjxrhQCTZ7qlLHOFEgNkRmK2vaO/LbTZSXdJfAu6ewRBdwHPhBo/H"
    crossorigin="anonymous"></script>
  <script src="/k3/js/main.js"></script>
  <script src="/k3/js/chuck.js"></script>
</body>

</html>